<!DOCTYPE html>
<html>
    <head>
        <title>Overview</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script type="text/javascript">
            window.onload = function () {
                var chart = new CanvasJS.Chart("chartContainer", {
                    title: {
                        text: "Investing Results",
                        fontSize: 30
                    },
                    animationEnabled: true,
                    axisX: {
                        gridColor: "Silver",
                        tickColor: "silver",
                        valueFormatString: "YYYY"
                    },
                    toolTip: {
                        shared: true
                    },
                    theme: "theme2",
                    axisY: {
                        gridColor: "Silver",
                        tickColor: "silver"
                    },
                    legend: {
                        verticalAlign: "center",
                        horizontalAlign: "right"
                    },
                    data: [
                    {% for investment in investments %}
                    {
                        type: "line",
                        showInLegend: true,
                        name: "{{investment.name}}",
                        color: "{{investment.color}}",
                        lineThickness: 2,

                        dataPoints: [
                        {% for yearlyBreakdown in investment.retirementSummary.yearlyBreakdown %}
                        { x: new Date({{yearlyBreakdown.year}}, 0, 1), y: {{yearlyBreakdown.totalAmount}} },
                        {% endfor %}
                        ]
                    },
                    {% endfor %}
                    ],
                    legend: {
                        cursor: "pointer",
                        itemclick: function (e) {
                            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                e.dataSeries.visible = false;
                            }
                            else {
                                e.dataSeries.visible = true;
                            }
                            chart.render();
                        }
                    }
                });

                chart.render();
            }
        </script>
        <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <style>
            form {
                width: 500px; 
                margin: 0px auto;
            }

            .input-group: {
                padding-top: 10px;
            }
        </style>
    </head>
    <body>
        <div style="padding-left: 10px;">
            <p>User Name: {{user.name}}</p>
            <p>Retirement Delta Months: {{user.retirementDeltaMonths}}</p>
            <p>Retirement Delta Years: {{user.retirementDeltaYears}}</p>
            <p>Total Retirement Amount: ${{user.totalRetirementAmount}}</p>
            <hr>
            {% for investment in investments %}
            <p>Investment Name: {{investment.name}}</p>
            <p>Starting Amount: ${{investment.initialAmountFormatted}}</p>
            <p>Final Amount: ${{investment.finalAmountFormatted}}</p>
            <hr>

            {% endfor %}
        </div>
        <div id="chartContainer" style="height: 400px; width: 100%;">
    </body>
</html>